* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    height: 480px;
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 2px 2px 20px black;
    margin: auto;
    margin-top: 100px;
    transition: transform 0.5s ease;
}
.box {
    height: 60px;
    width: 60px;
    font-size: 40px;
    text-align: center;
    position: relative;
}
#piece {
    height: 100%;
    position: relative;
    z-index: 10;
}
.white {
    color: rgb(255, 236, 236);
}
.brown {
    color: rgb(130, 35, 35);
}
i {
    text-shadow: 1px 1px 2px black;
    margin-top: 10px;
    transition: transform 0.5s ease;
    position: relative;
    z-index: -9;
}
.rotate {
    transform: rotate(180deg) !important;
}